# Ignorar extensões de dados e planilhas por segurança
*.xlsx
*.zip

# Arquivos de sistema e cache do Jupyter Notebook
.ipynb_checkpoints/
.DS_Store

# Pastas de ambientes virtuais Python
venv/
env/
.env
__pycache__/
*.pyc

datasets-grandes

Proposta-de-Projeto_Análise-Demográfica-e-Socioeconômica-Censo-IBGE-2022.pptx